<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>
        <add key="ETPDB" value="Server={0};Database=ETPStoreV55;User Id={1};Password={2};" />
        <add key="SERVER_NAME" value="10.8.1.121" />
        <add key="USERNAME_ETPDB" value="sa" />
        <add key="PASSWORD_ETPDB" value="123456" />
        <add key="TABLE_CONFIG" value="StoreConfig" />
        <add key="NAME_TABLE_CONFIG" value="Name" />
        <add key="VALUE_TABLE_CONFIG" value="Value" />
      
        <add key="ETP_BASE_URL" value="EtpBaseURL"/>
        <add key="VALUE_ETP_BASE_URL" value="https://innovation_uat.maisonjsc.com/" />
      
        <add key="ETP_API_PING" value="EtpApiPing"/>
        <add key="VALUE_ETP_API_PING_URL" value="api/app/store-ping" />

        <add key="ETP_GET_LAST_VERSION" value="EtpApiGetLastVersion"/>
        <add key="VALUE_ETP_GET_LAST_VERSION" value="api/app/store-activity-version/last-version" />
      
        <add key="STORE_ID" value="Id"/>
        <add key="VALUE_STORE_ID" value="3fa85f64-5717-4562-b3fc-2c963f66afa6"/>
      
        <add key="STORE_CODE" value="StoreCode"/>
        <add key="VALUE_STORE_CODE" value="1021"/>
        
        <add key="STORE_VERSION" value="Version"/>
        <add key="VALUE_STORE_VERSION" value="0.0"/>

        <add key="SQL_CREATE_TABLE" value="CREATE TABLE {0} (Id int NOT NULL IDENTITY(1,1) PRIMARY KEY,Name varchar(255) NOT NULL,Value varchar(MAX) NOT NULL)"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <log4net>
      <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %level [%thread] %logger{1} %username - %message%newline" />
        </layout>
        <mapping>
          <level value="WARN" />
          <foreColor value="Yellow, HighIntensity" />
        </mapping>
        <mapping>
          <level value="ERROR" />
          <foreColor value="Red, HighIntensity" />
        </mapping>
      </appender>
      <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="Log\\" />
        <rollingStyle value="Date" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <datePattern value="yyyyMMdd'.log'" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFile" />
      </root>
    </log4net>
</configuration>